{% extends "ApachecmsBackendBundle::layout.html.twig" %}
{% block body %}
{{ parent()}}
<h3 class="card-title">
    {# <button type="button" class="btn btn-success btn-rounded pull-right" onclick="location.href='{{ path(pathBase~'_add')}}'"><i class="fa fa-plus"></i> Agregar</button> #}
</h3>
<div class="table-responsive">
    
</div>
{% endblock body %}
