<section class="bg-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white" data-label="edit" data-type="input" id="aboutTitle">{{ entity.labels.aboutTitle }}</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4" data-label="edit" data-type="textarea" id="aboutDescription">{{ entity.labels.aboutDescription | nl2br }}</p>
            </div>
        </div>
    </div>
</section>