<section id="contact" >
    <div class="container text-center">
        <h2 class="section-heading navbarContact" data-label="edit" data-type="input" id="navbarContact">{{ entity.labels.navbarContact }}</h2>
    </div>
</section>